.service__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service{
    background-color: var(--color-bg-vari);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-prime);
    height: fit-content;
    transition-duration: 0.4s;
}
.odd{
    color: var(--color-prime);
    font-size: 2rem;
}
.service:hover{
    background: transparent;
    border-color: var(--color-prime-vari);
    cursor: default;
}
.service__head{
    background: var(--color-prime);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, .1);
}
.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.service__list{
    padding: 1rem;
}
.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.service__list-icon{
    color: var(--color-prime);
    margin-top: 2px;
}
.service__list p{
    font-size: 0.9rem;
} 
/*==================== MEDI-Q / med device ====================*/
@media screen and (max-width: 1024px) {
    .service__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service{
        height: auto;
    }
  }
/*==================== MEDI-Q / sma device ====================*/
@media screen and (max-width: 600px) {
    .service__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  }
 